<!-- Nested view. For list of tasks. -->
<ul class="list-unstyled">
<li ng-repeat="task in tasks | filter:stateFilter" class="top-bar">
	<span ng-class="{completed: task.completed}" ng-dblclick="editTask(task)" ng-show="!task.editing"> 
		<input type="checkbox" ng-model="task.completed" ng-change="doneEdit(task)"> {{task.title}} &emsp;
		<button class="button-close pure-button pull-right" ng-click="removeTask(task)" ng-show="!task.editing">&times;</button>
	</span> 

	<form ng-submit="doneEdit(task)" ng-show="task.editing" class="pure-form">
		<input type="text" class="pure-input-1" ng-blur="doneEdit(task)" ng-model="task.title">
	</form>
</li>
</ul>

<hr />
<div class="btn-group">
	<a ui-sref="base.all" class="pure-button">All <span class="badge">{{tasks.length}}</span></a>
	<a ui-sref="base.done" class="pure-button">Completed <span class="badge">{{completedCount}}</span></a>
	<a ui-sref="base.todo" class="pure-button">To Do <span class="badge">{{remainingCount}}</span></a>
</div>